[submodule "plugins/start/nerdtree"]
	path = plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "plugins/start/nerdtree-git-plugin"]
	path = plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "plugins/start/wakatime"]
	path = plugins/start/wakatime
	url = git://github.com/wakatime/vim-wakatime.git
[submodule "plugins/start/emmet-vim"]
	path = plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "plugins/start/indentLine"]
	path = plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
